{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module" // "script" or "module"
  },
  "extends": [
    "eslint-config-egg",
    "prettier"
  ],
  "rules": {
    "no-else-return": "off",
    "prettier/prettier": "warn"
  },
  "plugins": [
    "prettier"
  ]
}